<template>
  <v-container class="pt-6">
      <v-card class="">
        <v-card-title>
          Create a new list
        </v-card-title>
        <v-card-text>
          <v-text-field v-model="newList.name" label="Title" />
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn text color="secondary" @click="createList">
            Create
          </v-btn>
        </v-card-actions>
      </v-card>
   
  </v-container>
</template>

<script>

import app from '@/feathers-client'

export default {
  name: "CreateList",
  data: () => ({
    newList: { name: "" }
  }),
  methods: {
    async createList() {
      const createdList = await app.service('shoppinglists').create(this.newList)
      this.$router.push(`/shoppinglists/${createdList.id}`)
    },
  }
};
</script>
