<template>
  <v-container>
    <div class="d-flex">
      <v-spacer />
      <v-btn large color="secondary" @click="fetch" to="/create">
       <v-icon left>mdi-cart</v-icon>
        Create a shopping list
      </v-btn>
      <v-spacer />
    </div>
    <v-container class="pt-6 d-flex flex-wrap justify-center">
      <v-card max-width="300" min-width="300" v-for="(list, index) in shoppingLists" class="mr-4 mb-6" :key="list.id + index" :to="`/shoppinglists/${list.id}`">
        <v-card-title>
          {{ list.name }}
        </v-card-title>
        <v-divider />
        <v-card-actions>
          <v-spacer />
          <v-btn color="red" @click.prevent="deleteList(list.id)" text><v-icon left>mdi-trash-can</v-icon>DELETE</v-btn>
          <v-spacer />
        </v-card-actions>
      </v-card>
    </v-container>
  </v-container>
</template>

<script>

import app from '@/feathers-client'

export default {
  name: "Home",
  computed: {
    shoppingLists() {
      let itemList = this.$store.state.shoppinglists
      if (itemList === undefined) {
        this.$store.dispatch('FETCH_LISTS')
        return []
      }
      return Object.values(itemList)
    }
  },
  methods: {
    addItem() {
      app.service('items').create({...this.newItem, list_id: this.$route.params.id})
    },
    deleteList(id) {
      app.service('shoppinglists').remove(id)
    },
    fetch() {
      this.$store.dispatch('FETCH_LISTS')
      console.log(this.$store.state.shoppingLists);
    }
  }
};
</script>
